<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <app-minilogo [tituloPagina]="tituloPagina"></app-minilogo>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item [hidden]="formaHidden">
      <app-dynamic-form [fields]="regConfig" (submit)="submit($event)"></app-dynamic-form>
    </ion-item>
    <ion-item-divider [hidden]="formaHidden"></ion-item-divider>
    <ion-item *ngIf="cardItems.length > 0">
      <app-dynamic-grid [cardItems]="cardItems" (itemClick)="itemClick($event)" (trashClick)="trashClick($event)"></app-dynamic-grid>
    </ion-item>
  </ion-list>
  <app-form-fab-icon-group 
    (crear)="toggleFormVisibility($event, false)" 
    (cancelar)="toggleFormVisibility($event, true)" 
    [fabBtnConfig]="fabBtnConfig">
  </app-form-fab-icon-group>
</ion-content>
