<ion-header>
  <ion-toolbar align-items-center>
    <ion-title>
      <ion-img src="../../../assets/img/logors.svg" style="max-width: 33.33%"></ion-img>
      <strong>LOGIN</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Usuario:</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed>Contraseña:</ion-label>
        <ion-input type="password" [(ngModel)]="contrasenia"></ion-input>
      </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="login()">Login</ion-button>
</ion-content>
